/* Base Styles */
@font-face {
    font-family: 'InterTight';
    src:    url(Inter_Tight/InterTight-VariableFont_wght.ttf),
            url(Inter_Tight/InterTight-Italic-VariableFont_wght.ttf);
}

* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "InterTight";
}

body {
    font-weight: 300;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: larger;
        font-weight: 200;
    }
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; /* Prevent horizontal scrolling */

}
/* main {
    margin-left: 6vw;
    margin-right: 6vw;
} */
.is-transitioned {
    animation: fade-in 1s forwards;
    background-color: #6e0c0c, 0.25;
    opacity: 0;
    transform: translateY(30vh);
}

.smooth-transition {
    transition: 1s;
}

@keyframes fade-in {
    from {
        background-color:  #6e0c0c, 0.25;
        opacity: 0;
        transform: translateY(30vh);
    }
    to {
        background-color:#6e0c0c 0;
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: #ffffff;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

/* Home link aligned to the left */
.home-link {
    font-weight: 100;
    font-stretch: condensed;
    font-size: 2.2rem;
    color: #000000;
    text-decoration: none;
    align-items: left;
} 

a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* no underline */
}

a:hover{
    color:#6e0c0c;
    text-decoration:underline;
}
.home-link:hover{
    color:#6e0c0c;
    text-decoration: none; /* no underline */
}

/* Navigation links */
.nav-links {
    color: #000000;
    font-weight: 200;
    display: flex;
    gap: 1.5rem;
}

/* Index Page */
.welcome-title {
    h1 {
        text-align: center;
        font-size: 1000%;
        color:#ebe8e8
    }
}



.socials{
    margin-left: 6rem;
    align-items: left;
    width: 45vw;
    max-width: 90ch;
    /*padding: 1rem 2rem;*/
    font-size: x-small;
    line-height: 2;

    h1{
        font-weight: 200;
    }
}


/* Hamburger icon hidden on larger screens */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    
}

* {box-sizing:border-box}

.slideshow-container {
    position: relative;
    width:85vw;
    height:85vh;
    overflow: hidden;
    margin: 0 auto;
}
  
.mySlides {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySlides.active {
    opacity: 1;
    z-index: 2;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 50px;
  font-weight:100;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}

/* Caption text */
.text {
    color:#ffffff;
  /* color: #f2f2f2; */
  /* color:#6e0c0c; */
  /* color:#000000; */
  font-size: 20vw;
  font-weight: 100;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: right;
}

.text:hover {
    color:#6e0c0c;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0% {opacity: 1}
  /* 50% {opacity: 0} */
  100% {opacity: 1}
}


/* Footer */
footer {
    font-weight: 200;
    font-size: small;
    background-color: #ffffff;
    padding: 1rem;
    border-top: 1px solid #ffffff;
    text-align: center;
    vertical-align: text-top;
    margin: 0 auto;
    
}

footer table {
    width:60vw;
    vertical-align: text-top;
    margin: 0 auto;
}

.footTable{
    margin:0 auto;
}



/* Default Desktop Layout */
@media (min-width: 1268px) {
.chessboard .row {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.row.text-first {
  grid-template-areas: "text image";
}
.row.text-first .text { order: 1; }
.row.text-first img { order: 2; }
.row.text-first video {order: 2; }
.row.image-first {
  grid-template-areas: "image text";
}
.row.image-first .text { order: 2; }
.row.image-first img { order: 1; }

}


/* Mobile-Friendly Stacked Layout */
@media (max-width: 1267px) {
.chessboard .row img {
  margin-bottom: 1rem;
}
.chessboard .row {
  grid-template-columns: 1fr;
}

main {
    margin-left: 0rem;
    margin-right: 0rem;
}

.slideshow-container{
    width:100vw;
    height:60vh;
}


footer table {
    width:90vw;
}

}




/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    /* Hide the navigation links by default and show the hamburger icon */
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 70px; /* Adjust based on header height */
        right: 20px;
        background: rgba(255, 255, 255, .85);
        border: 1px solid #6e0c0c;
        padding: 1rem;
        z-index: 3;
    }

    /* Display the hamburger icon */
    .menu-toggle {
        display: inline;
    }

    /* Show navigation links when active */
    .nav-links.open {
        display: flex;
    } 

    main {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .slideshow-container{
        width:100vw;
        height:60vh;
    }

   
   .footTable{
        margin:0 auto;
   }

    footer table {
        width:90vw;
        vertical-align: text-top;
        text-align: justify;
    }

    .featured-media {
        grid-column: 1 / -1;
        overflow: hidden;
        height: 100vh; /* Ensures it takes the full viewport height */
        width: 110vw;
        margin-top: 1.5rem;
        /* margin-left: 0vw;
        margin-right: 0vw; */
    }

     /* .text-block h1 {
    margin-left: -9vw;
    margin-right: -9vw;
    /* font-size: 9em;
    font-weight: 100; 
    margin-bottom: 1rem;
  } */

}



/* Floating button styles */
.music-control {
    position: fixed; /* Ensures it stays in the same place when scrolling */
    top: 7.5rem;
    right: 20px;
    align-content: center;
    .music-control-bttn{
    background: rgba(255, 255, 255, 0.05);
    color: rgba(0, 0, 0, 0.2);
    border: 1px, solid, rgba(0, 0, 0, 0.2);;
    font-size: xx-large;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 24px; */
    }
    z-index: 1000; /* Ensures it stays above other elements */

    .m-button-txt{
        font-size: x-small;
        position: relative;
        color: rgba(0, 0, 0, 0.5);
        top:-0.3rem;
        left:-0.275rem;
    }
}


@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content {
    position: relative;
    z-index: 1; /* Keep text above the background */
    /*max-width: 800px;*/
    font-size: x-large;
    color:#ffffff;
    font-weight: 300;
    margin: 0 auto;
    align-items: center;
    padding: 50px 20px;
    /*background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for better readability */
    /*border-radius: 10px;*/
}


#target-section {
    height: 0.5vh;
  }


